<template>
  <div>
    <!--    <MicroNewsCompanyItem-->
    <!--        v-for="(item, index) in newsCompanyList"-->
    <!--        v-bind:company-name="item.name"-->
    <!--        v-bind:link-subscription="item.linkSubscription"-->
    <!--        v-bind:link-view="item.linkViewDoc"-->
    <!--    />-->
    <microPeopleItem
      v-for="(item, index) in peopleList"
      v-bind:name="item.name"
      v-bind:phone="item.phone"
      v-bind:gender="item.gender"
      v-bind:address="item.address"
    >

    </microPeopleItem>
  </div>
</template>

<script>
export default {
  data() {
    return {
      newsCompanyList: [
        {
          name: '일일일',
          linkSubscription: 'https://www.asdasdasd.com1',
          linkViewDoc: 'https://www.asdasdasdasd.com/1231'
        },
        {
          name: '이이이',
          linkSubscription: 'https://www.asdasdasd.com2',
          linkViewDoc: 'https://www.asdasdasdasd.com/1232'
        },
        {
          name: '삼삼삼',
          linkSubscription: 'https://www.asdasdasd.com3',
          linkViewDoc: 'https://www.asdasdasdasd.com/1233'
        },
        {
          name: '사사사',
          linkSubscription: 'https://www.asdasdasd.com4',
          linkViewDoc: 'https://www.asdasdasdasd.com/1234'
        },
        {
          name: '옹오ㅗ',
          linkSubscription: 'https://www.asdasdasd.com5',
          linkViewDoc: 'https://www.asdasdasdasd.com/1235'
        }
      ],
      peopleList: [
        {
          name: '1',
          phone: '010-0000-0000',
          gender: '남',
          address: '경기도 안산시 상록구'
        },
        {
          name: '2',
          phone: '010-0000-0000',
          gender: '여',
          address: '경기도 안산시 상록구'
        },
        {
          name: '3',
          phone: '010-0000-0000',
          gender: '여',
          address: '경기도 안산시 상록구'
        },
        {
          name: '4',
          phone: '010-0000-0000',
          gender: '남',
          address: '경기도 안산시 상록구'
        },
        {
          name: '5',
          phone: '010-0000-0000',
          gender: '남',
          address: '경기도 안산시 상록구'
        },
      ]
    }
  }
}
</script>