<template>
  <div :class="gender === '남'?'gender-man':'gender-woman'">
    {{ name }} / {{ phone }} / {{ gender }} / {{ address }}
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true
    },
    phone: {
      type: String,
      required: true
    },
    gender: {
      type: String,
      required: true
    },
    address: {
      type: String,
      required: true
    }
  }
}
</script>